<h1>Добавить сотрудника в учебную группу</h1>
<%= form_for @relationship do |f| %>
    <div class="field">
      <%= f.label "org_id", "Организация" %><br />
      <%= collection_select :organization,:organization_id, @organizations, :id, :name %>
    </div>
    <div class="field">
      <%= f.label :employee_id, "Сотрудник" %>
      <%= f.collection_select :employee_id, @employees, :id, :fio %>
    </div>
<% end %>