<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :instructor_id %><br />
  <%= f.collection_select :instructor_id, @instructors, :id, :fio %>
</div>
<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>
