<h1>Редактировать учебную группу</h1>
<%= form_for @group do |f| %>
    <div class="field">
      <%= f.label :instructor, "Преподаватель: " %>
      <%= f.label :instructor_id, @group.instructor.fio %>
    </div>
    <div class="field">
      <%= f.label :name, "Название учебной группы" %><br />
      <%= f.text_field :name %>
    </div>
    <div class="actions">
      <%= f.submit "Save changes" %>
    </div>
<% end %>
<table summary="Students table">
  <tr>
    <th>Сотрудник</th>
    <th>Организация</th>
    <th></th>
  </tr>
  <%= render @group.students %>
</table>
<%= button_to "Add to group", new_group_student_path(@group.id), :method => :get %>